# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
*.log

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (agar ishlatilsa)
.ipynb_checkpoints/

# VS Code (agar tasodifan ishlatilsa)
.vscode/

# test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# PyInstaller
*.spec

# dotenv files
.env
.env.*

# SQLite database
*.sqlite3
